# Core
pandas==2.1.4
numpy==1.26.4
polars==0.20.31
pyarrow==15.0.2
sqlalchemy==2.0.30

# Feature Engineering
scikit-learn==1.4.2
category-encoders==2.6.3
holidays==0.48
geopy==2.4.1
requests==2.32.3

# ML Models
xgboost==2.0.3
lightgbm==4.2.0
catboost==1.2.5
imbalanced-learn==0.12.3
optuna==3.6.1

# Frontend
streamlit==1.35.0
plotly==5.22.0
